<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282150795633-4s0nir9ivd611d2q7vbjvni9o4r86698.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282150795633-4s0nir9ivd611d2q7vbjvni9o4r86698</string>
	<key>API_KEY</key>
	<string>AIzaSyDNNXK8oMXeW1PbW93CNNGR_JQWJN4MdvI</string>
	<key>GCM_SENDER_ID</key>
	<string>282150795633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>myapp-3264a</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-3264a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282150795633:ios:49b34f995b043616e9ded0</string>
</dict>
</plist>